extends ../layouts/main

block content
  h2 Iniciar sesión

  // Formulario clásico
  form(action="/auth/login" method="POST")
    div
      label(for="email") Email:
      input(type="email", name="email", id="email", required)

    label(for="password") Contraseña:
    input(type='password', name='password', placeholder='Contraseña', required)

    button(type='submit') Ingresar (Servidor)

  // Mensaje de error si viene desde render
  if error
    p(style='color: red')= error

  // Mostrar token si se generó (desde SSR)
  if token
    p Token generado:
    code= token
