extends ../layouts/main

block content
  h1 Registro de Usuario
  
  if error
    .error= error
  
  form(method="POST" action="/auth/register")
    div
      label(for="name") Nombre:
      input(type="text" name="nombre" required)
    
    div
      label(for="email") Email:
      input(type="email" name="email" required)
    
    div
      label(for="password") Contraseña:
      input(type="password" name="password" required)
    
    button(type="submit") Registrarse
  
  p ¿Ya tienes cuenta? 
    a(href="/auth/login") Inicia Sesión


    if error
      p(style='color: red')= error